
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
		<script type="text/ng-template" id="markerText.tpl.html">
			testing
	        <a ng-href="/venues/{{currentShow.venue._id}}">{{currentShow.venue.name}}</a> 
			{{currentShow.venue.address.state}}
	    </script>
		<div class="panel panel-default">
   		<div class="panel-heading">
   			<h2> {{currentShow.name}}</h2>
   		</div>
   		<div class="panel-body">
   			<div class="row" ng-if="isViewMode">
   				<div class="col-md-3">
					<div ng-include="'app/show/manage/view.html'"></div>
				</div>
				<div class="col-md-9">
					<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
						<ui-gmap-marker coords="showLocation.coords" idkey="showLocation.id">
							<ui-gmap-window show="showLocation.isVisible">
								<span>
									<a ng-href="/venues/{{currentShow.venue._id}}">{{currentShow.venue.name}}</a> <br/> 

									<a href="https://maps.google.com/?daddr={{currentShow.venue.address.coordinates.latitude}},{{currentShow.venue.address.coordinates.longitude}}" target="_new">Get Directions</a>
								</span>
								
							</ui-gmap-window>

						</ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
			</div>
			<div class="row" ng-if="isEditMode">
				<div class="col-md-12">
					<div ng-include="'app/show/manage/edit.html'"></div>
				</div>
			</div>

		</div>

	</div>

</div>
